@import "./helpers/normalize.scss";
// @import "./helpers/video-requirements.scss";
// @import "./helpers/video-publishing.scss";
// @import "./helpers/rules.scss";
// @import "./helpers/slick-slider.scss";


@font-face {
  font-family: Cera Pro;
  src: url("../fonts/CeraPRO.otf") format("opentype");
  }
  @font-face {
    font-family: Cera PRO Medium;
    src: url("../fonts/Cera+PRO+Medium.otf") format("opentype");
    }
  body {
      font-family: Cera PRO;
  }

*{
  box-sizing: border-box;
}

.section-size{
  max-width: 1440px;
  margin: 0px auto;
  outline: 1px solid red;
}
.block-point{
  position: relative;
  max-width: 513px;
  margin: 0px auto;

}
.tshirt-img{
  width: 100%;
}
.description{
  display: none;
  // display: block;
  position: absolute;
  width: 290px;
  border-radius: 3px;
  background: #FFFFFF;
  padding: 20px;
  animation: 1.5s infinite;
  }
.description p{
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #333333;
  font-weight: 500;
  margin: 0px; 
}  
.circle{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 9px solid  #FFFFFF;
  cursor: pointer;
  background: #FF2F00;
  @media only screen and (max-width: 500px) {
    width: 25px;
    height: 25px;
    border: 7.5px solid  #FFFFFF;
  }
}
.circle:hover + .description {
  display: block;
}
.circle:hover{
  background: #333333;
}
.square{
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  border-radius: 3px;
  transform: matrix(0.71, 0.71, 0.7, -0.71, 0, 0);
}
// ----РАБОТА С КООРДИНАТАМИ, КРУГ, КВАДРАТ, ОПИСАНИЕ
.first-coordinat-circle{
  left: 37.5%;
  top: 5%;
}
.first-square{
  left: 39%;
  top: 11%;
}
.first-desc-coordinat{
  top: 12%;
  left: 12%;
}
// --2
.second-coordinat-circle{
  left: 2%;
  top: 29%;
}
.second-square{
  left: 9.7%;
  top: 30%;
}
.second-desc-coordinat{
  top: 26%;
  left: 11%;
}
// --3
.third-coordinat-circle{
  right: 30%;
  bottom: 20%;
}
.third-square{
  right: 31.5%;
  top: 81.4%;
}
.third-desc-coordinat{
  top: 82.4%;
  right: 29%;
}