.dl-active {
  background-color: #f3f3f3;
  font-weight: 500;
} 
.dl-page-delivery {
  margin: 50px auto 0;
  padding: 0px 15px;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}  
.dl-grid-block {
  width: 30%;
  height: auto;
}
.dl-grid-block-alt{
  font-weight: 500;
  font-size: 36px;
  line-height: 136.5%;
  color: #333333;
  @media only screen and (max-width: 1024px) {
    display: block;
    margin-left: 15px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 24px;
    margin-left: 15px;
  } 
}
.dl-grid-block2 {
  width: 68%;
}  
.dl-section {
  display: block;
  padding-top: 37px;
}  
.dl-section:first-child {
  padding-top: 0px;
}  
.dl-section__info-tabs-item {
  margin-top: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  position: relative;
}
  
.dl-section__open-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 26px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}  
.dl-section__open-btn::before {
  content: "";
  position: absolute;
  background-color: #333;
  cursor: pointer;
  left: 0;
  top: 9px;
  height: 2px;
  width: 20px;
}
  
.dl-section__open-btn::after {
  content: "";
  position: absolute;
  background-color: #333;
  cursor: pointer;
  width: 2px;
  height: 20px;
  left: 9px;
  top: 0px;
}
  
.dl-section__open-btn__del-after::after {
  content: "";
  width: 0px;
  height: 0px;
}
  
.dl-info-tabs-item__title {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0 25px 40px;
} 
.dl-payment-return-padding {
  padding: 30px 0 20px 35px;
}

.dl-info-tabs-item__title-name {
  font-size: 20px;
  font-weight: 500;
  // text-transform: uppercase;
  margin: 0px 25px 0px 15px;
  letter-spacing: .04em;
  line-height: 30px;
  color: #333333;
  @media only screen and (max-width: 768px) {
    font-size: 16px; 
  }
} 
.dl-info-tabs-item {
  max-height: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  overflow: hidden;
  padding-left: 40px;
  max-width: 830px;
}
.dl-open .dl-info-tabs-item {
  max-height: 2000px;
  padding: 5px 5px 30px 35px;
}
.dl-info-tabs-item__content p{
  font-size: 16px;
  line-height: 24px;
  color: #909090;
  margin: 30px 0px;
  @media only screen and (max-width: 768px) {
    font-size: 14px; 
  }
}
.content__list{
  font-size: 16px;
  line-height: 24px;
  color: #909090;
  
}
.marker-none{
  list-style-type: none;
}
.dl-info-tabs-item__content p:first-child{
  margin-top: 0px;
}
.dl-info-tabs-item__content p:last-child{
  margin-bottom: 0px;
}
.content-b-color{
  color: #333333;
}
.table th {
  background:#E7E7E7;
  font-size: 16px;
  padding: 5px 0px;
}
.table td {
  border-bottom: 1px solid rgba(144, 144, 144, 0.3);
  padding: 15px 0px 15px 20px;
}
.table td:nth-child(2n){
  text-align: center;
}
.btn__promotion-rules{
  background: #FFFFFF;
  border: 1px solid #909090;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 30px;
  width: max-content;
  font-size: 14px;
  line-height: 18px;
  text-align: center; 
  margin: 60px 0px 90px;
  cursor: pointer;
  @media only screen and (max-width: 1024px) {
  // margin-left: 15px;
  margin: 35px 0px 65px 15px;
}
}
  
  @media only screen and (min-width: 1024px) {

    .open-menu {
      overflow: auto;
      -ms-touch-action: auto;
          touch-action: auto;
      position: static;
      height: auto;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .dl-page-delivery {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0px;
    }
  
   
  
    .dl-grid-block {
      width: 100%;
      padding: 0;
      max-width: 100%;
      top: 0px;
      z-index: 2;
      height: 100%;
    }

  
    .dl-grid-block2 {
      width: 100%;
    }
  
    .dl-section:first-child {
      padding-top: 37px;
    }
  

  
    .dl-section__info-tabs-item {
      margin: 10px 15px;
    }
  
    .dl-section__info-tabs-item:nth-last-child(1) {
      border-bottom: 1px solid #e7e7e7;
    }
  
    .dl-info-tabs-item__title {
      display: block;
      padding: 25px 0 25px 15px;
    }
  

  
  .dl-info-tabs-item__title-name {
    display: inline-block;
    margin: 0px;
    width: 80%;
  }  
  .dl-info-tabs-item {
    max-width: 100%;
  }
  
  .dl-open .dl-info-tabs-item {
    padding: 5px 15px 30px;
  } 
}

