
.video-bonus{

.your-class{
    width: 80%;
    margin: 0px auto;
  }
  /* ----------------------------- */
  .size-section{
    max-width: 1240px;
    margin: 0px auto;
  }
  .number-bonuses-color{
    background-color: #F5F5F5;
  }
  .container__description{
    max-width: 957px;
    margin: 0px auto;
    text-align: center;
    padding: 50px 0px 50px;
  }
  .container__description__first{
    color:#333333;
    font-size: 36px;
    line-height: 135%;
    font-weight: 600;
  }
  .container__description__second{
    font-size: 16px;
    line-height: 150%;
    color: rgba(51, 51, 51, 0.7);
  }
  .slider {
      position: relative;
    }
    .container{
      padding-bottom: 50px;
      // max-width: 1260px;
    }
    .slider__container {
      overflow: hidden;
    }
    .slider__items {
      display: flex;
      transition: transform 0.5s ease;
      padding-bottom: 50px;
    }

    .slider__item {
      flex: 0 0 100%;
      user-select: none;
      margin: 100px 10px 20px;
    }
    
    .container {
      margin: 0 auto;
      width: 92%;
      @media only screen and (max-width: 1124px) {
        width: 95%;
      }
    }  
    .slider__wrapper {
      overflow: hidden;
      margin-left: -5px;
      margin-right: -5px;
    }
    
    
    .slider__item-content {
      padding-left: 5px;
      padding-right: 5px;
    }
    
    .slider__content_header {
      position: relative;
      height: 2px;
    }
    
    .slider__content_img {
      display: block;
      height: auto;
      max-width: 95%;
      position: absolute;
      transform: translate(1%, -3%);
      
    }
    .slick-slide img {
      bottom: -1700%;
  }

    .slider__content_title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #333333;
      margin-left: 25px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      height: 100px;
      @media only screen and (max-width: 600px) {
        font-size: 16px;
      }
  
    }
     
    .slider__control {
      background-color: unset;
      background: #FFFFFF;
      border-radius: 3px;
    }
    .slider__control:hover,
    .slider__control:focus {
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    .slider__indicators {
      bottom: -50px;
    }
    
    .slider__indicators li {
      background-color: rgba(144, 144, 144, 0.5);
    }
    
    .slider__indicators li.active {
      background-color: #FF2F00;
    }
  
    .line{
      border-top: 2.97393px dashed #F5F5F5;
      width: 90%;
      margin: 0px auto;
      position: relative;
    }
    .slider__item-container{
      background: #FFFFFF;
      padding-bottom: 5px;
      position: relative;
      padding-top: 42%;
    }
    .line::after{
      content: '';
      position: absolute;
      width: 12px;
      height: 24px;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      background: #F5F5F5;
      top:-14px;
      left: -8%;
    }
    .line::before{
      content: '';
      position: absolute;
      width: 12px;
      height: 24px;
      border-radius: 100% 0 0 100% / 50% 0 0 50%;
      background: #F5F5F5;
      top:-14px;
      right: -8%;  
    }
    .slider__content_description{
      margin: 20px 25px;
      max-width: 225px;
      color: #909090;
      font-size: 16px;
      line-height: 20px;
      @media only screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
    .slider__content_price{
      letter-spacing: -0.05em;
      font-size: 37.3877px;
      line-height: 47px;
      color: #333333;
  
    }
.slick-prev, .slick-next{
  font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: 1px solid #e7e7e7;
    outline: none;
    background: #fff;
    border-radius: 3px;
    outline: none;
    
}

.slick-next::before,
.slick-prev::before {
  display: block;
  line-height: 0;
  content: url('../img/arrow.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}

.slick-prev::before {
  transform: translate(-40%, -50%) rotate(180deg);
}

.slick-next, .slick-next:hover, .slick-next:active, .slick-next:focus,
.slick-prev, .slick-prev:hover, .slick-prev:active, .slick-prev:focus {
  background: #fff;
}

.slick-prev:hover, .slick-next:hover, .slick-prev:hover, 
.slick-prev:active, .slick-next:focus, .slick-prev:focus {
  &:not(.slick-disabled) {
    border-color: #ff2f00;
  }
}

.slick-prev{
  left: -40px;
}
.slick-next{
  right: -40px;
}
.slick-dotted.slick-slider{
  height: 121%;
  @media only screen and (max-width: 540px) {
  margin: 0px -7% 30px;
  }
}

.slick-dots  {
  bottom: 15px;
}
.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  font-size: 8px;
}

.slick-dots li.slick-active button:before {
  color: #FF2F00;
  opacity: 1;
}
.slick-slider .slick-track, .slick-slider .slick-list{
  @media only screen and (max-width: 600px) {
  margin: 0px -15px 0px 0px;
  }

}
}