.number-bonuses-color{
    background-color:#F5F5F5;
}
.container__description{
  max-width: 957px;
  margin: 0px auto;
  text-align: center;
  padding: 100px 0px 50px;
}
.container__description__first{
  color:#333333;
  font-size: 36px;
  line-height: 135%;
}
.container__description__second{
  font-size: 16px;
  line-height: 150%;
  color: rgba(51, 51, 51, 0.7);
}
.slider {
    position: relative;
  }
  .container{
    padding-bottom: 165px;
    // max-width: 1260px;
  }
  .slider__container {
    overflow: hidden;
  }
  .slider__items {
    display: flex;
    transition: transform 0.5s ease;
  }
  // .slider_disable-transition {
  //   transition: none;
  // }
  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    user-select: none;
    margin: 100px 20px 0px;
  }
  .slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    color: #fff;
    text-align: center;
    height: 30px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
  }
  // .slider__control_hide {
  //   display: none;
  // }
  .slider__control[data-slide="prev"] {
    left: -3%;
    @media only screen and (max-width: 1350px) {
      display: none;
    }
  }
  .slider__control[data-slide="next"] {
    right: -3%;
    @media only screen and (max-width: 1350px) {
      display: none;
    }
  }
  // .slider__control:focus,
  // .slider__control:hover {
    // color: #fff;
    // text-decoration: none;
    // outline: 0;
    // background: rgba(0, 0, 0, 0.3);
  // }
  .slider__control::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  .slider__control[data-slide="prev"]::before {
    background-image: url("/img/left-arrow.png");
  }
  .slider__control[data-slide="next"]::before {
    background-image: url("/img/right-arrow.png");
  }
  .slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  .slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .slider__indicators li.active {
    background-color: rgba(255, 255, 255, 0.9);
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  // body {
  //   margin: 0;
  //   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  //     "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  //     "Segoe UI Symbol";
  // }
  
  .container {
    max-width: 350px;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 700px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1260px;
      margin: 0 auto;
    }
  }
  
  .slider__wrapper {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
  }
  
  @media (min-width: 768px) {
    .slider__item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 1200px) {
    .slider__item {
      flex: 0 0 33.3333333333%;
      max-width: 21.3333333333%;
      position: relative;
      margin-top: 100px;
    }
  }
  
  .slider__item-content {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .slider__content_header {
    position: relative;
  }
  
  .slider__content_img {
    display: block;
    height: auto;
    max-width: 95%;
    position: absolute;
    
  }
  .img-position-1{
    top: -275px;
  }
  .img-position-2{
    top: -240px;
  }
  .img-position-3{
    top: -260px;
  }
  .img-position-4{
    top: -240px;
  }
  .img-position-5{
    top: -260px;
  }
  .img-position-6{
    top: -240px;
  }
  .img-position-7{
    top: -240px;
  }
  .img-position-8{
    top: -250px;
  }
  .img-position-9{
    top: -250px;
  }
  .slider__content_title {
    // background: #fafafa;
    // color: #424242;
    // white-space: normal;
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 1.3;
    // padding: 10px 15px;
    // margin: 0;
    // height: 52px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    color: #333333;
    margin-left: 25px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    height: 100px;

  }
   
  .slider__control {
    background-color: unset;
    background: #FFFFFF;
    // outline: 2px solid red;
    border-radius: 3px;
  }
  .slider__control:hover,
  .slider__control:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .slider__indicators {
    bottom: -50px;
  }
  
  .slider__indicators li {
    background-color: rgba(144, 144, 144, 0.5);
  }
  
  .slider__indicators li.active {
    background-color: #FF2F00;
  }

  .line{
    border-top: 2.97393px dashed #F5F5F5;
    width: 90%;
    margin: 0px auto;
    position: relative;
  }
  .slider__item-container{
    background: #FFFFFF;
    max-width: 295px;
    padding-bottom: 5px;
    position: relative;
    padding-top: 142px;
  }
  .line::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 24px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background: #F5F5F5;
    top:-14px;
    left: -18px;
  }
  .line::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 24px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: #F5F5F5;
    top:-14px;
    right: -18px;  
  }
  .slider__content_description{
    margin: 20px 25px;
    max-width: 225px;
    color: #909090;
    font-size: 16px;
    line-height: 20px;
  }
  .slider__content_price{
    letter-spacing: -0.05em;
    font-size: 37.3877px;
    line-height: 47px;
    color: #333333;

  }