.size-section__big{
    max-width: 1920px;
    margin: 0px auto;
    display: block;
    padding: 0px 15px;
}
.publishing{
    background-color: #333333;
    position: relative;
    overflow: hidden;
}
.publishing__top-block{
    max-width: 560px;
    // outline: 1px solid red;
    margin-left: 13%;
    padding-top: 175px;
    padding-bottom: 180px;
    @media only screen and (max-width: 1200px) {
        margin-left: 15px;
    }
    @media only screen and (max-width: 1000px) {
        margin: 0px auto;
        padding-bottom: 60%;
        padding-top: 85px;
    }
    @media only screen and (max-width: 600px) {
        padding-bottom: 450px;
        padding-top: 85px;
    }
}
.publishing__alt{
    font-weight: 500;
    font-size: 36px;
    line-height: 135%;
    color: #FFFFFF; 
    @media only screen and (max-width: 1000px) {
        font-size: 24px;        
    }
}
.publishing__list__block{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.publishing__list__block__number{
    font-size: 48px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.3;
    margin-right: 34px;
}
.publishing__list__block__text{
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;  
}
.publishing__img{
    position: absolute;
    height: 503px;
    // outline: 1px solid gold;
    right: 184px;
    top: 30%;
    width: 40%;
    background-repeat: no-repeat;
    background-image: url('../img/publishing-1.png');
    @media only screen and (max-width: 1600px) {
        width: 25%;
        right: 140px;   
    }
    @media only screen and (max-width: 1000px) {
        top: 65%;
        width: 74%;
    }
    @media only screen and (max-width: 600px) {
        background-image: url('../img/publishing-mob-1.png');
        top: auto;
        width: 175px;
        right: 42%;
        bottom: -1px;
        height: 292px;
    }
}
.publishing__img-2{
    position: absolute;
    height: 611px;
    // outline: 1px solid rgb(0, 255, 170);
    right: -96px;
    top: 23%;
    width: 24%;
    background-repeat: no-repeat;
    background-image: url('../img/publishing-2.png');
    @media only screen and (max-width: 1000px) {
        top: 63%;
        width: 37%;
        right: -10%;
    }
    @media only screen and (max-width: 600px) {
        background-image: url('../img/publishing-mob-2.png');
        top: 63%;
        width: 150px;
        right: auto;
        left: 54%;
    }
}
.publishing__vector{
    position: absolute; 
    bottom: 10%;
    right: 52%;
    @media only screen and (max-width: 1000px) {
        right: 84%;
        transform: rotate(71deg);
        bottom: auto;
        top: 52%;
    }
    @media only screen and (max-width: 600px) {
        right: auto;
        left: 2%;
        transform: rotate(38deg);
        bottom: auto;
        top: 61%;
    }
}