.in-scrolling {
  overflow:hidden;
  @media only screen and (max-width: 1000px) {
    overflow: auto;
  }
}
  
.scrolling{
  width:5560px;
  display: flex;
  justify-content: start;
  @media only screen and (max-width: 1360px) {
    width:4260px;
  }
  @media only screen and (max-width: 1000px) {
    width: 100%;
    flex-wrap: wrap;
  }
}
.scrolling__block{
  margin: 10px 20px;
  display: flex;
  max-width: 900px;
  height: 600px;
  justify-content: space-between;
  margin: 0px 0px 0px 400px;
  @media only screen and (max-width: 1360px) {
    margin: 0px 0px 0px 100px;
  }
  @media only screen and (max-width: 1000px) {
    margin: 50px auto;
    flex-wrap: wrap;
    height: auto;
  }
}
.scrolling__block__img{
  @media only screen and (max-width: 1000px) {
    margin: 0px auto;
  } 
}
.scrolling__block__text{
  width: 43%;
  justify-content: space-around;
  padding-top: 200px;
  @media only screen and (max-width: 1000px) {
    padding: 45px 15px 0px;
    width: 100%;
  }
}
.sc__block__alt{
  font-size: 24px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 40px;
  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}
.sc__block__title{
  font-size: 16px;
  line-height: 150%;
  color: rgba(51, 51, 51, 0.7); 
}
.sc__block__list-up{
  margin-top: 75px;
  @media only screen and (max-width: 1000px) {
    margin-top: 0px;
  }
}
.mob-text-up{
  margin-top: 75px;
  @media only screen and (max-width: 1000px) {
    margin-top: 0px;
  }
}
.on-video-up{
  margin-top: 110px;
  @media only screen and (max-width: 1000px) {
    margin-top: 0px;
  }
}
.img-size-1{
  @media only screen and (max-width: 1000px) {
    width: 40%;
  }
  @media only screen and (max-width: 768px) {
    width: 60%;
  }
}
.img-size-2{
  width: 42%;
  height: max-content;
  @media only screen and (max-width: 768px) {
    width: 80%;
  }
}
.img-size-3{
  height: max-content;
  width: 42%;
  margin: 0px auto;
  @media only screen and (max-width: 1000px) {
    width: 60%;
  }
  @media only screen and (max-width: 768px) {
    width: 80%;
  }
}
.img-size-4{
  height: max-content;
  width: 28%;
  margin: 0px auto;
  @media only screen and (max-width: 1000px) {
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
    width: 70%;
  }
}
.user-icon{
  position: relative;
  padding-left: 41px;
}
.user-icon::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 25px;
  background: url('../img/you-tube.png');
  display: inline-block;
  background-repeat: no-repeat;
  top: 3px;
  left: 0px;
}
.video-requirements__alt{
  font-size: 36px;
  line-height: 100%;
  color: #333333;
  padding: 94px 0px;
  padding-left: 11.5vw;
  @media only screen and (max-width: 768px) {
    font-size: 24px; 
    padding-left: 15px;
  }
}